<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xpz.mapper.CountryMapper">
    <resultMap id="BaseResultMap" type="com.example.xpz.entity.Country">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="profile" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="collective_income" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
            <arg column="average_income" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
            <arg column="average_income_rate" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time,update_time,profile,collective_income,average_income,average_income_rate
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from village
        where id = #{id,jdbcType=INTEGER}
    </select>


</mapper>