<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xpz.mapper.CunmingMapper">
  <resultMap id="BaseResultMap" type="com.example.xpz.entity.Cunming">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="huhao" jdbcType="INTEGER" property="huhao" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="mingzu" jdbcType="VARCHAR" property="mingzu" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="dangyuan_id" jdbcType="INTEGER" property="dangyuanId" />
    <result column="village_id" jdbcType="INTEGER" property="villageId" />
    <result column="wangge_id" jdbcType="INTEGER" property="wanggeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, name, sex, id_card, huhao, address, mingzu, phone, 
    education, dangyuan_id, village_id, wangge_id
  </sql>
  <select id="selectByExample" parameterType="com.example.xpz.entity.CunmingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cunming
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cunming
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cunming
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.xpz.entity.CunmingExample">
    delete from cunming
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.xpz.entity.Cunming">
    insert into cunming (id, create_time, update_time, 
      name, sex, id_card, 
      huhao, address, mingzu, 
      phone, education, dangyuan_id, 
      village_id, wangge_id)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR}, 
      #{huhao,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{mingzu,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{dangyuanId,jdbcType=INTEGER}, 
      #{villageId,jdbcType=INTEGER}, #{wanggeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xpz.entity.Cunming">
    insert into cunming
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="huhao != null">
        huhao,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mingzu != null">
        mingzu,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="dangyuanId != null">
        dangyuan_id,
      </if>
      <if test="villageId != null">
        village_id,
      </if>
      <if test="wanggeId != null">
        wangge_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="huhao != null">
        #{huhao,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mingzu != null">
        #{mingzu,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="dangyuanId != null">
        #{dangyuanId,jdbcType=INTEGER},
      </if>
      <if test="villageId != null">
        #{villageId,jdbcType=INTEGER},
      </if>
      <if test="wanggeId != null">
        #{wanggeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xpz.entity.CunmingExample" resultType="java.lang.Long">
    select count(*) from cunming
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cunming
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.idCard != null">
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.huhao != null">
        huhao = #{record.huhao,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.mingzu != null">
        mingzu = #{record.mingzu,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null">
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.dangyuanId != null">
        dangyuan_id = #{record.dangyuanId,jdbcType=INTEGER},
      </if>
      <if test="record.villageId != null">
        village_id = #{record.villageId,jdbcType=INTEGER},
      </if>
      <if test="record.wanggeId != null">
        wangge_id = #{record.wanggeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cunming
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      huhao = #{record.huhao,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      mingzu = #{record.mingzu,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      dangyuan_id = #{record.dangyuanId,jdbcType=INTEGER},
      village_id = #{record.villageId,jdbcType=INTEGER},
      wangge_id = #{record.wanggeId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xpz.entity.Cunming">
    update cunming
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="huhao != null">
        huhao = #{huhao,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mingzu != null">
        mingzu = #{mingzu,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="dangyuanId != null">
        dangyuan_id = #{dangyuanId,jdbcType=INTEGER},
      </if>
      <if test="villageId != null">
        village_id = #{villageId,jdbcType=INTEGER},
      </if>
      <if test="wanggeId != null">
        wangge_id = #{wanggeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xpz.entity.Cunming">
    update cunming
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      id_card = #{idCard,jdbcType=VARCHAR},
      huhao = #{huhao,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      mingzu = #{mingzu,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      dangyuan_id = #{dangyuanId,jdbcType=INTEGER},
      village_id = #{villageId,jdbcType=INTEGER},
      wangge_id = #{wanggeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>