<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xpz.mapper.EducationMapper">
    <resultMap id="BaseResultMap" type="com.example.xpz.entity.Education">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="student_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="parent_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="school" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="school_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="grade" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="village_id" javaType="java.lang.Integer" jdbcType="INTEGER" />

        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time,update_time,student_name,parent_name,school,school_id,grade,village_id
    </sql>
    <select id="selectByVillageId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from education
        where village_id = #{villageId,jdbcType=INTEGER}
    </select>


</mapper>