<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xpz.mapper.LvyouXiangmuMapper">
  <resultMap id="BaseResultMap" type="com.example.xpz.entity.LvyouXiangmu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="jindian_name" jdbcType="VARCHAR" property="jindianName" />
    <result column="response_people" jdbcType="VARCHAR" property="responsePeople" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="village_id" jdbcType="INTEGER" property="villageId" />
    <result column="fangwenliang" jdbcType="INTEGER" property="fangwenliang" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, jindian_name, response_people, phone, village_id, fangwenliang
  </sql>
  <select id="selectByExample" parameterType="com.example.xpz.entity.LvyouXiangmuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lvyou_xiangmu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lvyou_xiangmu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lvyou_xiangmu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.xpz.entity.LvyouXiangmuExample">
    delete from lvyou_xiangmu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.xpz.entity.LvyouXiangmu">
    insert into lvyou_xiangmu (id, create_time, update_time, 
      jindian_name, response_people, phone, 
      village_id, fangwenliang)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{jindianName,jdbcType=VARCHAR}, #{responsePeople,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{villageId,jdbcType=INTEGER}, #{fangwenliang,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.xpz.entity.LvyouXiangmu">
    insert into lvyou_xiangmu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="jindianName != null">
        jindian_name,
      </if>
      <if test="responsePeople != null">
        response_people,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="villageId != null">
        village_id,
      </if>
      <if test="fangwenliang != null">
        fangwenliang,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jindianName != null">
        #{jindianName,jdbcType=VARCHAR},
      </if>
      <if test="responsePeople != null">
        #{responsePeople,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="villageId != null">
        #{villageId,jdbcType=INTEGER},
      </if>
      <if test="fangwenliang != null">
        #{fangwenliang,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.xpz.entity.LvyouXiangmuExample" resultType="java.lang.Long">
    select count(*) from lvyou_xiangmu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lvyou_xiangmu
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.jindianName != null">
        jindian_name = #{record.jindianName,jdbcType=VARCHAR},
      </if>
      <if test="record.responsePeople != null">
        response_people = #{record.responsePeople,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.villageId != null">
        village_id = #{record.villageId,jdbcType=INTEGER},
      </if>
      <if test="record.fangwenliang != null">
        fangwenliang = #{record.fangwenliang,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lvyou_xiangmu
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      jindian_name = #{record.jindianName,jdbcType=VARCHAR},
      response_people = #{record.responsePeople,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      village_id = #{record.villageId,jdbcType=INTEGER},
      fangwenliang = #{record.fangwenliang,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.xpz.entity.LvyouXiangmu">
    update lvyou_xiangmu
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jindianName != null">
        jindian_name = #{jindianName,jdbcType=VARCHAR},
      </if>
      <if test="responsePeople != null">
        response_people = #{responsePeople,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="villageId != null">
        village_id = #{villageId,jdbcType=INTEGER},
      </if>
      <if test="fangwenliang != null">
        fangwenliang = #{fangwenliang,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.xpz.entity.LvyouXiangmu">
    update lvyou_xiangmu
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      jindian_name = #{jindianName,jdbcType=VARCHAR},
      response_people = #{responsePeople,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      village_id = #{villageId,jdbcType=INTEGER},
      fangwenliang = #{fangwenliang,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>