<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.xpz.mapper.TrashMapper">
    <resultMap id="BaseResultMap" type="com.example.xpz.entity.trash">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="wushui" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="laji" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="wushui_rate" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="laji_rate" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="village_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="year" javaType="java.lang.Integer" jdbcType="INTEGER" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time,update_time,wushui,laji,wushui_rate,laji_rate,village_id,year
    </sql>
    <select id="selectByVillageId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from trash
        where village_id = #{villageId,jdbcType=INTEGER}
        ORDER BY year desc
        LIMIT 4;
    </select>


</mapper>